<a href="https://colab.research.google.com/github/harshitha010-1/2025-2026-EVEN--AI-DS-HARSHITHA-4082/blob/main/03_02_2026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
s = {1, 2, 3}
s.add(4)

# Dictionary
d = {"a": 1, "b": 2}
d["c"] = 3

print(s)
print(d)

{1, 2, 3, 4}
{'a': 1, 'b': 2, 'c': 3}

In [7]:
my_list = [10, 20, 30, 40]

my_list.append(50)
my_list.remove(20)
print(my_list)

[10, 30, 40, 50]

In [8]:
t = (1, 2, 3)
print(t[0])
print(len(t))

1
3

In [9]:
s = {1, 2, 3, 4}

# add elements
s.add(5)
s.update([6, 7])

# remove elements
s.remove(2)
s.discard(10)

# set operations
a = {1, 2, 3}
b = {3, 4, 5}
print(a | b)
print(a & b)
print(a - b)

# properties
print(len(s))
print(3 in s)

{1, 2, 3, 4, 5}
{3}
{1, 2}
6
True

In [10]:
d = {"name": "John", "age": 20}

# add / update
d["age"] = 21
d["city"] = "Delhi"

# access
print(d["name"])
print(d.get("marks", "Not Found"))

# remove
del d["age"]
d.pop("city")

# loop
for key, value in d.items():
    print(key, ":", value)

# dictionary methods
print(d.keys())
print(d.values())
print(d.items())

John
Not Found
name : John
dict_keys(['name'])
dict_values(['John'])
dict_items([('name', 'John')])

In [12]:
import pandas as pd

url = "https://raw.githubusercontent.com/dataprofessor/data/master/BostonHousing.csv"

df = pd.read_csv(url)
print(df.head())

df.to_csv(r"d:\iris_dataset.csv", index=False)

      crim    zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8
3  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7
4  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7

        b  lstat  medv
0  396.90   4.98  24.0
1  396.90   9.14  21.6
2  392.83   4.03  34.7
3  394.63   2.94  33.4
4  396.90   5.33  36.2